/** @format */

.icon-link {
  font-size: 1.8rem;
  margin-left: 0.5rem;
  margin-right: 0.6rem;
  color: rgb(158, 160, 160);
}

.icon-link:hover {
  color: rgb(158, 160, 160);
}

.icon-link-github:hover {
  color: rgb(48, 47, 47);
}

.icon-link-linkedin:hover {
  color: rgba(20, 20, 214, 0.734);
}

.icon-link-reddit:hover {
  color: rgb(218, 65, 18);
}

.icon-link-twitter:hover {
  color: rgba(53, 114, 226, 0.83);
}
