/** @format */

.skills-icons {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.6rem;
}

.bloc-text-body-skills {
  font-size: 1.1rem;
  text-align: justify;
  padding-right: 1rem;
  color: rgba(43, 43, 43, 0.844);
}
