/** @format */

html * {
  font-size: 100%;
  --global-green: #c5ec77;
}

.bloc-body {
  height: 100vh;
}

/* FONTS FACES */
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");
/* 
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

.bloc-body {
  background-color: #f8f8f8;
  overflow: scroll;
  height: 100vh;
  padding-bottom: 2rem;
}

#bloc-global {
  height: auto;
  font-family: "Barlow", sans-serif;
  margin-top: 1rem;
}

#content {
  /* border: rgba(223, 222, 225, 0.864) solid 2px; */
  margin-top: 1rem;
  padding-top: 1.5rem;
  border-radius: 0.6rem;
  background-color: white;
}

#bloc-cover {
  border-top: unset;
  border-radius: 0.6rem;
  height: 17rem;
}

#bloc-about {
  margin-top: 1.5rem;
}

#bloc-down-section {
  /*  border: rgba(223, 222, 225, 0.864) solid 2px; */
  margin-top: 2rem !important;
  padding-bottom: 2rem;
  padding-right: 0.8rem;
}

/* #bloc-down-left-section {
} */

#bloc-links {
  border: rgba(223, 223, 223, 0.371) solid 2px;
  border-radius: 0.6rem;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem !important;
}

#bloc-skills {
  border: rgba(223, 223, 223, 0.371) solid 2px;
  border-radius: 0.6rem;
}

#bloc-hobbies {
  margin-top: 1.5rem;
}

/* #bloc-down-right-section {
} */

#bloc-mantra {
  font-style: italic;
  color: rgb(157, 157, 157);
}

/* Works on mobile */
@media (max-device-width: 450px) {
  #bloc-global {
    margin-top: 0;
  }
  .bloc-body {
    padding-bottom: 0;
  }
  #content {
    padding-top: 0;
    margin-top: 0.5rem;
  }

  .bloc-text-title-project {
    margin-left: 1rem;
  }

  #bloc-down-right-section {
    margin-top: 0.5rem;
  }
}

/** @format */

.bloc-text-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #86377b;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.bloc-text-body {
  font-size: 1.1rem;
  text-align: justify;
  padding-right: 1rem;
  color: rgba(43, 43, 43, 0.844);
}

.bloc-text-contact {
  font-size: 1rem !important;
  margin-left: 0.5rem;
  font-weight: bold;
}


#bloc-text-nickname {
  font-weight: bold;
  font-style: italic;
}

/** @format */

#bloc-cover-text {
  font-size: 3rem;
  color: aliceblue;
  z-index: 20;
  height: auto;
  width: auto;
  position: relative;
  margin-top: 1rem;
}

#bloc-text-username {
  font-size: 1.6rem;
  color: rgb(209, 211, 213);
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  /* Useful postionning */
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  border-radius: 0.6rem;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

/** @format */

.icon-link {
  font-size: 1.8rem;
  margin-left: 0.5rem;
  margin-right: 0.6rem;
  color: rgb(158, 160, 160);
}

.icon-link:hover {
  color: rgb(158, 160, 160);
}

.icon-link-github:hover {
  color: rgb(48, 47, 47);
}

.icon-link-linkedin:hover {
  color: rgba(20, 20, 214, 0.734);
}

.icon-link-reddit:hover {
  color: rgb(218, 65, 18);
}

.icon-link-twitter:hover {
  color: rgba(53, 114, 226, 0.83);
}

/** @format */

.bloc-text-title-project {
  font-size: 1.4rem;
  font-weight: bold;
  color: #86377b;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.project-card {
  background-color: #99348d9e !important;
  margin-bottom: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project-card:hover {
  transform: scale(0.95, 0.98);
  box-shadow: -1px -1px 69px -17px rgba(0, 0, 0, 0.32);
}

.project-card-personal {
  background-color: #b8b8b8c4 !important;
  margin-bottom: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project-card-personal:hover {
  transform: scale(0.95, 0.98);
  box-shadow: -1px -1px 69px -17px rgba(0, 0, 0, 0.32);
}

.project-card-body {
  color: white !important;
  text-decoration: none;
}

.project-card-body:hover {
  text-decoration: none;
}

.corporate-name {
  font-style: italic;
  font-size: 0.9rem;
}

/** @format */

.skills-icons {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.6rem;
}

.bloc-text-body-skills {
  font-size: 1.1rem;
  text-align: justify;
  padding-right: 1rem;
  color: rgba(43, 43, 43, 0.844);
}
